<h2>New Post</h2>

<%= form_for @user do |f| %>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :story %>
      <%= f.text_area :story %>
    </p>
    <%= f.submit %>
<% end %>