<h3>New Post</h3>

<%= form_for @user do |f| %>
    <p>
      <span id="title_label"><%= f.label :title %></span>
      <%= f.text_field :title %>
    </p>
    <span id="story_label"<%= f.label :story %></span>
    <p>

      <%= f.text_area :story, :cols=>"100", :rows=>"15" %>
    </p>
    or...
    <p>
      <%= f.label :about %>
      <%= f.text_area :about, :cols=>"100", :rows=>"15"%>
    </p>
    <%= f.submit "Publish" %>
<% end %>