<!DOCTYPE html>
<html>
<head>
  <title>David Berko</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<nav>
  <div id="Home">
    <%= link_to "Home", root_path %>
  </div>
</nav>
<body>

<sidebar id="menu">
  <div id="feather"></div>
  <div  id="link1">
    <%= link_to "About", about_path %><br/>
    <%= link_to "Stories"%><br/>
    <%= link_to "Future", future_path %>
  </div>

</sidebar>

<%= yield %>

</body>
</html>
